body {
	margin: 0;
	background: #FFFFFF;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

header {
	background: #000;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding: 10px 0;
}

nav {
	float: right;
	overflow: auto;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	
	position: relative;
}

nav a {
	color: #FFDD00;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

nav a:hover {
	color: #FFDD00;
}

nav a:before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

.button {
        background-color: #000;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}

.center {
  position: absolute;
  background-color: #000;
  color: white;
  left: 35%;
  top: 90%;
  border: none;
  width: 31%;
  text-align: center;
  font-size: 50px;
  display: inline-block;
  text-decoration: none;

}

/* --- cards section --- */

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 14%;
	padding: 0 0px;
}

.row {
	margin: auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.card {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 0px;
	}
}

footer {
	display: block;
	background-color: black;
	color: white;
	text-align: center;

	}
	
.columnTeam {
	float: left;
	width: 25%;
	padding: 0 10px;
}	

.cardTeam {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
}
.cardTeamM {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
	margin: 40%;
}
.cardTeam:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardTeamM:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.containerTeam {
	padding: 2px 16px;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
}

.cardTeam button {
	border: none;
	outline: 0;
	padding 12px;
	color: #FFDD00;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.cardTeam button:hover {
	opacity: 0.7;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4f2984;
  color: #FFDD00;
}

.hero-image {
	background-image: url("/assets/ow_team.jpg");
	height: 70%;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
  	position: relative;
}

.hero-text {
  	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}
}
